.app .cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.status {
    margin-left: 15px;
}

.reprovado {
    color: red;
    opacity: 0.4;
}

.aprovado {
    color: green;
}